<h2>Seja bem-vindo!</h2>

<% if user_signed_in? %>
  <p><%= button_to 'Sair', destroy_user_session_path, method: :delete %></p>
<% else %>
  <p>Faça <%= link_to 'login', new_user_session_path %> para continuar</p>
<% end %>


<% if user_signed_in? %>
  <p><%= link_to 'Fazer upload de um XML', new_einvoice_path %></p>
  <p><%= link_to 'Visualizar Notas', einvoices_path %></p>
<% end %>
